.btn-custom {
  background-color: #9A00CD;
  color: #fff;
  font-size: 1em;
  border-radius: 3em;
  padding: 0.5em 0.5em;
  border: none;
  outline: transparent; }

.btn-custom2 {
  background-color: #fff;
  color: #F72B62;
  font-size: 2rem;
  border: 1px solid #F72B62;
  padding: 0.5em 0.5em; }

.search-box {
  width: 35%;
  border: 1px solid transparent;
  padding: 0.5em 2em 0.5em 2em;
  font-size: 0.5rem;
  border-radius: 3rem;
  margin-top: 0.1rem; }

.small-tags {
  font-size: 0.9rem;
  font-weight: 100;
  color: #e6e6e6;
  width: fit-content;
  height: fit-content; }

.second-heading {
  color: #313B50;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase; }

.text-secondclass {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #313B50; }

.text-thirdclass {
  font-size: 1rem;
  color: #313B50;
  line-height: 1.7rem; }

#firstlook {
  background-image: url(../images/pex.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  #firstlook nav {
    font-size: 1em;
    margin: 0; }
    #firstlook nav.navbar-default {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #b3b3b3; }
    #firstlook nav .container-fluid .navbar-header #logo {
      text-decoration: none;
      color: #F72B62;
      font-family: 'Lobster', cursive;
      font-size: 2rem; }
      #firstlook nav .container-fluid .navbar-header #logo .small-tags {
        padding: 0 1rem; }
    #firstlook nav .container-fluid .navbar-toggle {
      border: none;
      float: right;
      background-color: transparent;
      margin: 8px 0;
      padding: 9px 0; }
    #firstlook nav .container-fluid ul {
      text-align: right;
      margin-top: 0.9em; }
      #firstlook nav .container-fluid ul a {
        margin-left: 1em;
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff;
        text-decoration: none; }
    #firstlook nav .container-fluid #input-first {
      padding: 0.7em 0;
      padding-left: 1rem;
      border-radius: 1.5em;
      border: none;
      font-size: 1rem;
      background-image: url(../images/search.png);
      background-repeat: no-repeat;
      background-size: 11%;
      background-position: 98%;
      margin-left: 1.8em;
      margin-top: 1.1em; }
  #firstlook .tagline-wrapper {
    text-align: right;
    margin: 8em 0; }
    #firstlook .tagline-wrapper .tagline {
      line-height: 1.3em;
      color: #f7f7f7;
      font-size: 3em; }
    #firstlook .tagline-wrapper .small-tags {
      padding-right: 2.7em; }

@media screen and (max-width: 767px) {
  #firstlook nav .container-fluid .navbar-toggle {
    margin: 8px 0;
    padding: 9px 0; }

  .navbar-toggle .icon-bar {
    display: block;
    width: 2.5em;
    height: 0.3em;
    border-radius: 1px; }

  #firstlook nav .container-fluid .navbar-header #logo {
    font-size: 2.8em; }

  #firstlook nav .container-fluid .navbar-header #logo .small-tags {
    font-size: 1.9rem; }

  #nav-head {
    height: auto;
    line-height: 1; }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    border-radius: 2px; }

  #firstlook .tagline-wrapper {
    text-align: right;
    margin: 1em 0; }

  #firstlook .tagline-wrapper .tagline {
    text-align: left;
    box-sizing: border-box;
    font-size: 7vw;
    margin-right: 3em; }

  #firstlook input.btn-custom {
    margin-left: 1em;
    font-size: 2.5rem;
    padding: 0.5em 0; }

  #firstlook .tagline-wrapper .small-tags {
    font-size: 1.7rem;
    clear: left;
    padding-left: 3em; } }
@media screen and (max-width: 480px) {
  #firstlook {
    background-image: url(../images/design-xs.jpg);
    border-bottom: 5px solid #d9d9d9;
    padding-bottom: 2em; }

  #firstlook nav .container-fluid {
    padding-left: 23px;
    padding-right: 23px; }

  #firstlook nav .container-fluid .navbar-header #logo {
    font-size: 4rem;
    position: relative; }

  #nav-head {
    line-height: 1;
    margin-top: 0.5rem; }

  .container-fluid .navbar-header #logo .small-tags {
    padding: 0 1rem;
    position: absolute;
    top: 0.3em;
    font-size: 1.4rem; }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 3em;
    height: 0.5em;
    margin-bottom: 0.5rem;
    border-radius: 9px; }

  #firstlook .container .tagline-wrapper {
    text-align: center;
    margin: 0; }

  #firstlook .tagline-wrapper .tagline {
    line-height: 1.3em;
    color: #ffb500;
    font-size: 11vw;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 3px;
    margin-left: -0.6em;
    padding-right: 3em; }

  #firstlook .tagline-wrapper #first-btn.btn-custom {
    padding: 0.5em 1em;
    color: #fff;
    font-size: 6vw; }

  #first-btn:hover {
    color: #fff; }

  #firstlook .tagline-wrapper .small-tags {
    display: none; } }
#features2 .container {
  display: flex;
  text-align: left;
  padding: 0;
  margin: 0; }
  #features2 .container .img {
    float: left; }
  #features2 .container .text-holder {
    margin-left: 3em; }
  #features2 .container .second-heading {
    padding-top: 2rem; }
  #features2 .container .text-secondclass {
    padding-bottom: 0.4em; }

@media screen and (max-width: 480px) {
  #features2 {
    border-bottom: 5px solid #d9d9d9;
    padding: 1em 0; }

  #features2 .container img {
    display: none; }

  #features2 .container .text-holder {
    padding: 0;
    padding-left: 0;
    width: 100%;
    margin-left: 0; }

  #features2 .container .second-heading {
    padding-top: 0;
    font-size: 4rem;
    padding-bottom: 0.4em; }

  #features2 .container .text-secondclass {
    font-size: 3rem;
    line-height: 1.3; }

  .text-thirdclass {
    display: none; } }
.curve {
  margin: 0 auto;
  width: 7%;
  height: 5em;
  background-color: #313B50;
  position: relative;
  z-index: 3;
  border-radius: 60%;
  top: -3em; }

.curve::before {
  content: "";
  position: absolute;
  bottom: 19px;
  left: -5px;
  width: 1.1em;
  height: 1.1em;
  border-top-right-radius: 1em;
  border-top: 6px solid #313B50;
  border-right: 6px solid #313B50; }

.curve::after {
  content: "";
  position: absolute;
  bottom: 19px;
  left: 81px;
  width: 1.1em;
  height: 1.1em;
  border-top-left-radius: 1em;
  border-top: 6px solid #313B50;
  border-left: 6px solid #313B50; }

.curve {
  display: none; }

@media screen and (max-width: 480px) {
  .curve {
    display: none; } }
#prompt {
  background-image: url(../images/pex2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3em 0; }
  #prompt .container {
    width: 100%;
    padding: 0; }
    #prompt .container img {
      width: 100%;
      padding: 0;
      margin-left: 0; }
    #prompt .container .tagline-wrapper {
      top: 6em;
      left: 0; }
    #prompt .container .small-tags {
      font-weight: lighter;
      color: #f7f7f7;
      line-height: 2.5rem; }

@media screen and (max-width: 480px) {
  #prompt {
    position: static;
    margin: 0;
    border-bottom: 5px solid #d9d9d9;
    text-align: center;
    padding: 1em 2em; }

  #prompt .container img {
    display: none; }

  #prompt .container .tagline-wrapper {
    padding-top: 0;
    position: static; }

  #prompt .container .tagline-wrapper .tagline {
    line-height: 1.3em;
    color: #fff;
    font-size: 14vw;
    padding: 0.5em 1em;
    border: 2px solid #fff;
    border-radius: 0.5em; }

  #prompt .container input.btn-custom2 {
    border-radius: 2px;
    border: 1px solid #fff; }

  #prompt .container .small-tags {
    display: none; }

  #prompt .container .btn-custom {
    background-color: #fff;
    color: #F72B62;
    font-size: 3rem;
    border: 1px solid #F72B62;
    padding: 1em 1em;
    margin-top: 1em; } }
#features {
  background-color: #313B50;
  color: #fff;
  padding: 3em 0; }
  #features .container .feature-disc {
    padding-bottom: 1.5em; }
    #features .container .feature-disc .feature-heads {
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 0.7em; }
    #features .container .feature-disc .discription {
      line-height: 2em;
      font-size: 1.2rem;
      color: #d9d9d9; }

@media screen and (max-width: 480px) {
  .feature-disc {
    text-align: center;
    font-size: 2em; }

  #features {
    /*display: none;*/
    padding: 2.5em 0 3em 0;
    border-bottom: 5px solid #d9d9d9;
    position: static; }

  #features .container .feature-disc .feature-heads {
    line-height: inherit;
    word-spacing: 7px; }

  #features .container .feature-disc .discription {
    line-height: 1em;
    font-size: 2.7rem;
    color: #d9d9d9; } }
#rush {
  background-image: url(../images/pex4.png);
  text-align: center; }
  #rush h4 {
    color: #fff;
    padding: 1.5em;
    padding-bottom: 0.2em;
    font-size: 3rem; }
  #rush .text-secondclass {
    margin: 0 auto;
    width: 50%;
    color: #d967ff;
    padding-bottom: 2em; }

@media screen and (max-width: 480px) {
  #rush {
    background-image: none;
    text-align: center;
    padding: 3.4em 0;
    background-color: #496f94;
    border-bottom: 5px solid #d9d9d9; }

  #rush h4 {
    color: #F72B62;
    padding: 0;
    padding-bottom: 0.4em;
    font-size: 3rem; }

  #rush .text-secondclass {
    width: 100%;
    color: #ffe134;
    padding-bottom: 1em;
    font-size: 4rem;
    line-height: 1.1; }

  #rush .small-tags {
    display: none; }

  .btn-custom {
    font-size: 2rem;
    padding: 1em 0.5em; } }
#lorem img {
  width: 100%; }

@media screen and (max-width: 480px) {
  #lorem img {
    display: none; } }
#watch .container {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0; }
  #watch .container img {
    float: right; }
  #watch .container .content {
    text-align: left; }
  #watch .container .second-heading {
    padding-top: 2rem; }
  #watch .container .text-secondclass {
    padding-bottom: 0.4em; }

@media screen and (max-width: 480px) {
  #watch {
    padding: 1em 0;
    border-bottom: 5px solid #d9d9d9; }

  #watch .container .content {
    padding: 0; }

  #watch .container img {
    display: none; }

  #watch .container .second-heading {
    padding-top: 0;
    font-size: 4rem;
    padding-bottom: 0.4em; }

  #watch .container .text-secondclass {
    padding-bottom: 0.4em;
    font-size: 3rem;
    line-height: 1.3; } }
#contact {
  background-color: #F72B62; }
  #contact .container .second-heading, #contact .container .text-thirdclass, #contact .container a {
    color: #fff; }
  #contact .container a {
    text-decoration: none;
    padding-bottom: 0;
    margin: 0;
    border-bottom: 0.1em solid #fff; }

@media screen and (max-width: 480px) {
  #contact .container {
    display: initial; }

  #contact .container .second-heading {
    font-size: 4rem;
    /*word-spacing: 1em;*/
    /*margin-left: 0.5em;*/ }

  #contact .container .second-heading.col-xs-offset-1 {
    margin-left: 0.1%; }

  #contact .container a.text-thirdclass {
    display: initial;
    margin-left: 0.8em;
    font-size: 3rem; } }
#footer {
  background-color: #313B50; }
  #footer .container p.small-tags {
    color: #fff; }

@media screen and (max-width: 480px) {
  #footer {
    padding: 1em;
    border-bottom: 5px solid #d9d9d9; }

  #footer .container {
    padding: 0; }

  #footer .container .small-tags {
    font-size: 1rem; } }

/*# sourceMappingURL=styles.css.map */
