.btn-custom {
  background-color: #9A00CD;
  color: #fff;
  font-size: 1em;
  font-weight: bold; }

.btn-round {
  border-radius: 3em; }

.btn {
  padding: 1em 3.5em; }

.search-box {
  border: 1px solid transparent;
  padding: 1em 5em 1em 2em;
  font-size: 1rem;
  border-radius: 3em; }

.small-tags {
  font-size: 1rem;
  font-weight: 100;
  color: #e6e6e6;
  padding: 1em 2em; }

.tagline-wrapper {
  position: absolute;
  top: 18em;
  left: 8em;
  width: 30%;
  text-align: right; }
  .tagline-wrapper .tagline {
    line-height: 1.3em;
    color: #f7f7f7;
    font-size: 3em;
    padding-bottom: 0.6em; }

.second-heading {
  color: #313B50;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase; }

.text-secondclass {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #313B50; }

.text-thirdclass {
  font-size: 1rem;
  color: #313B50;
  line-height: 1.7rem; }

body {
  font-family: 'Open Sans', sans-serif; }

#firstlook {
  position: relative; }
  #firstlook .container {
    width: 100%;
    padding: 0; }
    #firstlook .container img {
      width: 100%; }
    #firstlook .container header {
      width: 100%;
      border-bottom: 0.1rem solid #4d4d4d;
      position: absolute;
      top: 0;
      padding-top: 0.5rem; }
      #firstlook .container header #logo {
        display: inline-block;
        font-family: 'Lobster', cursive;
        font-size: 2.2rem;
        color: #F72B62;
        padding: 0.5em 5em; }
        #firstlook .container header #logo span {
          color: #8E878E;
          font-size: 1rem; }
      #firstlook .container header nav {
        display: inline-block;
        line-height: 1em;
        padding: 0.5em 1em; }
        #firstlook .container header nav a {
          font-size: 1.3rem;
          font-weight: bold;
          line-height: 3.5em;
          padding: 1em 0;
          margin-left: 1.5em;
          color: #f7f7f7;
          text-decoration: none; }
          #firstlook .container header nav a.active {
            border-bottom: 0.2rem solid #fff;
            padding-bottom: 1.8em; }
        #firstlook .container header nav .search-box {
          line-height: 1rem;
          padding-left: 2em;
          font-size: 1.3rem;
          margin-left: 2em;
          background-image: url(../images/search.png);
          background-repeat: no-repeat;
          background-position: 96% 50%;
          background-size: 26px 26px;
          outline: none; }
    #firstlook .container .btn-custom {
      padding: 0.8em 3.5em; }

#features {
  background-color: #313B50;
  color: #fff;
  position: relative;
  padding: 6em 0 3em 0; }
  #features .container {
    width: 60%; }
    #features .container .feature-disc {
      padding-bottom: 1.5em; }
      #features .container .feature-disc .feature-heads {
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 0.7em; }
      #features .container .feature-disc .discription {
        line-height: 2em;
        font-size: 1.2rem;
        color: #d9d9d9; }

.curve {
  margin: 0 auto;
  width: 7%;
  height: 5em;
  background-color: #313B50;
  position: relative;
  z-index: 3;
  border-radius: 60%;
  top: -3em; }

.curve::before {
  content: "";
  position: absolute;
  bottom: 19px;
  left: -5px;
  width: 1.1em;
  height: 1.1em;
  border-top-right-radius: 1em;
  border-top: 6px solid #313B50;
  border-right: 6px solid #313B50; }

.curve::after {
  content: "";
  position: absolute;
  bottom: 19px;
  left: 81px;
  width: 1.1em;
  height: 1.1em;
  border-top-left-radius: 1em;
  border-top: 6px solid #313B50;
  border-left: 6px solid #313B50; }

#prompt {
  position: relative;
  z-index: 1;
  top: -5em;
  margin-bottom: -5.2em; }
  #prompt .container {
    width: 100%;
    padding: 0; }
    #prompt .container img {
      width: 100%;
      padding: 0;
      margin-left: 0; }
    #prompt .container .tagline-wrapper {
      top: 6em;
      left: 0;
      width: 100%;
      text-align: center;
      padding-top: 2em; }
      #prompt .container .tagline-wrapper .tagline {
        font-weight: light;
        font-size: 4rem;
        padding: 0;
        text-align: center;
        color: #f7f7f7; }
    #prompt .container .small-tags {
      width: 35%;
      margin: 0 auto;
      padding: 0;
      font-size: 1.5rem;
      font-weight: lighter;
      color: #f7f7f7;
      line-height: 2.5rem; }
    #prompt .container .btn-custom {
      margin-top: 2em;
      padding: 0.7em 6em;
      background-color: #fff;
      color: #F72B62;
      font-size: 1.7rem; }

#features2 .container {
  display: flex;
  text-align: left;
  padding: 0;
  margin: 0; }
  #features2 .container .img {
    float: left; }
  #features2 .container .text-holder {
    padding: 3em 0;
    padding-left: 8em;
    width: 51%;
    margin-left: 3em; }
  #features2 .container .second-heading {
    padding-top: 2rem; }
  #features2 .container .text-secondclass {
    padding-bottom: 0.4em; }

#rush {
  background-image: url(../images/pex4.png);
  text-align: center;
  padding: 6em; }
  #rush h4 {
    color: #fff;
    padding: 1.5em;
    padding-bottom: 0.2em;
    font-size: 3rem; }
  #rush .text-secondclass {
    margin: 0 auto;
    width: 50%;
    color: #d967ff;
    padding-bottom: 2em; }
  #rush .small-tags {
    font-size: 0.9rem; }

/*# sourceMappingURL=styles.css.map */
