#contact{
  background-color: $dominant-bgcolor2;
  .container{
    .second-heading,.text-thirdclass, a {
      color:  $dominant-color;
    }
    a{
      text-decoration: none;
      padding-bottom: 0;
      margin: 0;
      border-bottom: 0.1em solid $dominant-color;
    }
  }
}

@media screen and (max-width: 480px) {
  #contact .container {
    display: initial;
  }

  #contact .container .second-heading{
    font-size: 4rem;
    /*word-spacing: 1em;*/
    /*margin-left: 0.5em;*/
  }

  #contact .container .second-heading.col-xs-offset-1 {
    margin-left: 0.1%;
  }

  #contact .container a.text-thirdclass {
    display: initial;
    margin-left: 0.8em;
    font-size: 3rem;
  }
}
