.curve{
  margin: 0 auto;
  width: 7%;
  height: 5em;
  background-color: $dominant-bgcolor1;
  position: relative;
  z-index: 3;
  border-radius: 60%;
  top: -3em;
}
.curve::before{
  content: "";
  position: absolute;
  bottom: 19px;
  left: -5px;
  width: 1.1em;
  height: 1.1em;
  border-top-right-radius: 1em;
  border-top: 6px solid $dominant-bgcolor1;
  border-right: 6px solid $dominant-bgcolor1;
}
.curve::after{
  content: "";
  position: absolute;
  bottom: 19px;
  left: 81px;
  width: 1.1em;
  height: 1.1em;
  border-top-left-radius: 1em;
  border-top: 6px solid $dominant-bgcolor1;
  border-left: 6px solid $dominant-bgcolor1;
}

.curve {
  display: none;
}
@media screen and (max-width: 480px){
  .curve {
    display: none;
  }
}
