#features{
  background-color: $dominant-bgcolor1;
  color: $dominant-color;
  // position: relative;
  padding: 3em 0;
  .container{
    .feature-disc{
      padding-bottom: 1.5em;
      .feature-heads{
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 0.7em;
      }
      .discription{
        line-height: 2em;
        font-size: 1.2rem;
        color: darken($dominant-color, 15%);
      }
    }
  }
}

@media screen and (max-width: 480px){
  .feature-disc{
    text-align: center;
    font-size: 2em;
  }

  #features{
    /*display: none;*/
    padding: 2.5em 0 3em 0;
    border-bottom: 5px solid #d9d9d9;
    position: static;
  }

  #features .container .feature-disc .feature-heads {
    line-height: inherit;
    word-spacing: 7px;
  }

  #features .container .feature-disc .discription {
    line-height: 1em;
    font-size: 2.7rem;
    color: #d9d9d9;
  }
}
