body {
  .backgroundimage-sections {
   background-repeat: no-repeat;
   background-size: contain;
}

  .break-overflow {
    overflow: hidden;
  }

  #eyeballs {
    background-image: url(../images/pex.jpg);
    height: 57vw;
  }


  #fantastic {
    box-sizing: border-box;
    background-color: $dark-grey;
    padding-bottom: 120px;
  }


  #curve {
    height: 40px;
    background-color: $grey;
  }

  #wicked {
    background-image: url(../images/pex2.jpg);
  }

  #rush {
    background-image: url(../images/pex4.png);
  }

  #watch-heading {

  }

  #photography {
    background-image: url(../images/pex6.png);
  }

  #get-in-touch.noimage-sections {
    padding: 50px 20px 150px 20px;
    .content {
      width: 30%;
    }
  }

  #foot-note {
    padding: 30px 20px 150px 20px;
  }

}
