body {
  .backgroundimage-sections {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:445px;
  }

  .break-overflow {
    overflow: hidden;
  }

  #eyeballs {
    background-image: url(../images/pex.jpg);
    height: 51vw;
  }


  #fantastic {
    background-color: $dark-grey;
    padding:50px 0;
    padding-bottom: 120px;
  }

  #curve {
    height: 40px;
    background-color: $grey;
  }

  #wicked {
    background-image: url(../images/pex2.jpg);
  }

  #pen-heading {

  }

  #rush {
    background-image: url(../images/pex4.png);
  }

  #watch-heading {

  }

  #photography {
    background-image: url(../images/pex6.png);
  }

  #get-in-touch.noimage-sections {
    padding: 50px 20px 150px 20px;
    .content {
      width: 30%;
    }
  }

  #foot-note {
    padding: 30px 20px 150px 20px;
  }

}
