#prompt{
  position: relative;
  z-index: 1;
  top: -5em;
  margin-bottom: -5.2em;
  .container{
    width: 100%;
    padding: 0;
    img{
      width: 100%;
      padding: 0;
      margin-left: 0;
    }
    .tagline-wrapper{
      top:6em;
      left: 0;
      width: 100%;
      text-align: center;
      padding-top: 2em;
      .tagline{
        font-weight: light;
        font-size: 4rem;
        padding: 0;
        text-align: center;
        color: darken($dominant-color,3%);
      }
    }
    .small-tags{
      width: 35%;
      margin: 0 auto;
      padding: 0;
      font-size: 1.5rem;
      font-weight: lighter;
      color: darken($dominant-color,3%);
      line-height: 2.5rem;
    }
    .btn-custom{
      margin-top: 2em;
      padding: 0.7em 6em;
      background-color: $dominant-color;
      color: $dominant-bgcolor2;
      font-size: 1.7rem;
    }
  }
}
