#prompt{
  background-image: url(../images/pex2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3em 0;
  .container{
    width: 100%;
    padding: 0;
    img{
      width: 100%;
      padding: 0;
      margin-left: 0;
    }
    .tagline-wrapper{
      top:6em;
      left: 0;
    }
    .small-tags{
      font-weight: lighter;
      color: darken($dominant-color,3%);
      line-height: 2.5rem;
    }
  }
}

@media screen and (max-width: 480px){
  #prompt{
    position: static;
    margin: 0;
    border-bottom: 5px solid #d9d9d9;
    text-align: center;
    padding: 1em 2em;
  }
  #prompt .container img {
    display: none;
  }
  #prompt .container .tagline-wrapper {
    padding-top: 0;
    position: static;
  }
  #prompt .container .tagline-wrapper .tagline {
    line-height: 1.3em;
    color: #fff;
    font-size: 14vw;
    padding: 0.5em 1em;
    border: 2px solid #fff;
    border-radius: 0.5em;
  }
  #prompt .container input.btn-custom2{
    border-radius: 2px;
    border: 1px solid #fff;
  }

  #prompt .container .small-tags {
    display: none;
  }

  #prompt .container .btn-custom {
    background-color: #fff;
    color: #F72B62;
    font-size: 3rem;
    border: 1px solid #F72B62;
    padding: 1em 1em;
    margin-top: 1em;
  }
}
