#rush{
  background-image: url(../images/pex4.png);
  text-align: center;
  h4{
    color: $dominant-color;
    padding: 1.5em;
    padding-bottom: 0.2em;
    font-size: 3rem;
  }
  .text-secondclass{
    margin: 0 auto;
    width: 50%;
    color: lighten($button-color, 30%);
    padding-bottom: 2em;
  }
}

@media screen and (max-width: 480px) {
  #rush {
    background-image: none;
    text-align: center;
    padding: 3.4em 0;
    background-color: #496f94;
    border-bottom:5px solid #d9d9d9;
  }
  #rush h4 {
    color: #F72B62;
    padding: 0;
    padding-bottom: 0.4em;
    font-size: 3rem;
  }
  #rush .text-secondclass {
    width: 100%;
    color:  rgb(255, 225, 52);
    padding-bottom: 1em;
    font-size: 4rem;
    line-height: 1.1;
  }
  #rush .small-tags {
    display: none;
  }
  .btn-custom {
    font-size: 2rem;
    padding: 1em 0.5em;
  }
}
