$dominant-color: #fff;
$smaller-font-color: #8E878E;
$dominant-bgcolor1: #313B50;
$dominant-bgcolor2: #F72B62;
$button-color: #9A00CD;

.btn-custom {
  background-color: $button-color;
  color: $dominant-color;
  font-size: 1em;
  border-radius: 3em;
  padding: 0.5em 0.5em;
  border: none;
  outline: transparent;
}

.btn-custom2{
  background-color: #fff;
  color: #F72B62;
  font-size: 2rem;
  border: 1px solid #F72B62;
  padding: 0.5em 0.5em;
}

.search-box{
  width: 35%;
  border: 1px solid transparent;
  padding: 0.5em 2em 0.5em 2em;
  font-size: 0.5rem;
  border-radius: 3rem;
  margin-top: 0.1rem;
}

.small-tags{
  font-size: 0.9rem;
  font-weight: 100;
  color: darken($dominant-color,10%);
  width: fit-content;
  height: fit-content;
}

.second-heading{
  color: $dominant-bgcolor1;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
}
.text-secondclass{
  font-size: 1.3rem;
  line-height: 1.6;
  color: $dominant-bgcolor1;
}
.text-thirdclass{
  font-size: 1rem;
  color: $dominant-bgcolor1;
  line-height: 1.7rem;
}
