
//fonts
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Lobster);


$noto-sans: 'Noto Sans', sans-serif;
$lobster: 'Lobster', cursive;


//colors

$white: #fff;
$black: #000;
$pinkish: #ff3668;
$grey: #d5cad5;
$purple: #7b02cf;
$dark-grey: #313b50;
